In [2]:
import numpy as np #numpy provides multi-dimensional array support
import pandas as pd
content = pd.read_csv('revenue-profit.csv', sep = ';')
content  # print(content) shows you the data but not the pretty formatting

   no_data  Revenue    Cost  Profit
0     2010      100  -90.00   10.00
1     2011      120 -105.60   14.40
2     2012      130 -114.40   15.60
3     2013      233 -207.37   25.63
4     2014      255 -221.85   33.15
5     2015      179 -152.15   26.85
6     2016      300 -246.00   54.00
7     2017      320 -268.80   51.20

In [3]:
print(type(content)) # it's a dataframe(
content.head(4) #set number of rows to be output

<class 'pandas.core.frame.DataFrame'>

   no_data  Revenue    Cost  Profit
0     2010      100  -90.00   10.00
1     2011      120 -105.60   14.40
2     2012      130 -114.40   15.60
3     2013      233 -207.37   25.63

In [4]:
content = content.rename(columns = {'no_data':'Year'}) #rename column

In [5]:
content.head(4) #show the first five datarows. You can enter a parameter for number of rows
#note the rows are indexed by number

   Year  Revenue    Cost  Profit
0  2010      100  -90.00   10.00
1  2011      120 -105.60   14.40
2  2012      130 -114.40   15.60
3  2013      233 -207.37   25.63

In [6]:
single-year = content(content.Year == 2012) #doesn't work
single-year

SyntaxError: can't assign to operator (<ipython-input-6-0c8cb7e94db8>, line 1)

In [ ]:
single-column = content.Revenue  #doesn't work
single-column

In [ ]:
content.loc[2]  #show data for index[2]

In [ ]:
content.loc[2, 'Revenue'] #extract single item with row, column)

In [ ]:
content.loc[{2,5} 'Revenue'] #extract two items with row, column) #doesn't work