In [2]:
 import numpy as np
 import pandas as pd
 simple = pd.Series([3, -5, 7, 4],  index=['a',  'b',  'c',  'd']) # Series - a simple 1d frame
 simple

a    3
b   -5
c    7
d    4
dtype: int64

In [9]:
data = {'Country': ['Belgium',  'India',  'Brazil'],

'Capital': ['Brussels',  'New Delhi',  'Brasilia'],

'Population': [11190846, 1303171035, 207847528]}

df = pd.DataFrame(data,columns=['Country',  'Capital',  'Population'])

df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [24]:
 df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...: 

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [25]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [26]:
df.head()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [28]:
df.tail(2)

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528

In [30]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [31]:
df.to_numpy()

array([['Belgium', 'Brussels', 11190846],
       ['India', 'New Delhi', 1303171035],
       ['Brazil', 'Brasilia', 207847528]], dtype=object)

In [32]:
df.describe()

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [33]:
df.T   #transform

                   0           1          2
Country      Belgium       India     Brazil
Capital     Brussels   New Delhi   Brasilia
Population  11190846  1303171035  207847528

In [34]:
df.sort_values(by='Population')

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasilia   207847528
1    India  New Delhi  1303171035

In [38]:
df['Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [3]:
pd.read_csv('file.csv', header=None, nrows=5)  #read csv
df.to_csv('myDataFrame.csv')                   #write csv

FileNotFoundError: [Errno 2] File b'file.csv' does not exist: b'file.csv'

In [44]:
df.loc['Brazil']

KeyError: 'Brazil'

In [ ]:
df = pd.read_excel('file.xlsx')  #Read Excel
df.to_excel('dir/myDataFrame.xlsx',  sheet_name='Sheet1') #Write Excel

In [ ]:
pd.read_excel('file.xlsx')      #Read Excel sheet
df.to_excel('dir/myDataFrame.xlsx',  sheet_name='Sheet1')

In [ ]:
from sqlalchemy import create_engine        #SQL samples
engine = create_engine('sqlite:///:memory:')
pd.read_sql(SELECT * FROM my_table;, engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query(SELECT * FROM my_table;', engine)

In [14]:
simple['b'] #extract single element

-5

In [15]:
df[1:] #get subset of dataframe using indexes

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasilia   207847528

In [23]:
#extract single value by row and and column

df.iloc([0],[0])
df.iat([0],[0])

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [20]:
#select single value by row and column labels

df.loc([0],['Country'])
df.at([0], ['Country'])

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [21]:
df.ix[2]

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Country          Brazil
Capital        Brasilia
Population    207847528
Name: 2, dtype: object